<mat-toolbar color="primary">
  <img
    class="logo"
    src="../../assets/navbar/logo-una-bureau.png"
    alt="logo una bureau"
  />
  <span class="example-spacer"></span>

  <button
    mat-flat-button
    color="primary"
    *ngFor="let item of menuItems"
    (click)="goToSection(item.id)"
    class="web"
  >
    {{ item.displayName }}
  </button>

  <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      *ngFor="let item of menuItems"
      (click)="goToSection(item.id)"
    >
      {{ item.displayName }}
    </button>
  </mat-menu>
</mat-toolbar>
