<div class="container">
  <div>
    <mat-divider></mat-divider>
    <h2>Sobre nós</h2>
    <p style="max-width: 650px">
      O projeto Una Bureau oferece uma oportunidade única para os estudantes se
      envolverem em atividades que vão além do currículo escolar, como projetos
      de pesquisa, eventos e workshops.
      <br />
      <br />
      Além disso, oferece aos estudantes a chance de trabalhar em equipe com
      outros alunos e professores, desenvolvendo habilidades importantes para o
      mercado de trabalho.
      <br />
      <br />
      Não perca a chance de se juntar a este projeto inovador e dar o próximo
      passo em sua carreira!
    </p>
  </div>
</div>
