<mat-toolbar color="primary" class="footer-toolbar">
  <div class="footer-content">
    <img
      class="logo"
      src="../../assets/footer/logo-una-bureau-footer.png"
      alt="Logo"
    />
    <span class="example-spacer"></span>
    <a href="https://www.instagram.com/bureau_unabarreiro/" target="_blank">
      <button mat-icon-button>
        <mat-icon svgIcon="instagram"></mat-icon>
      </button>
    </a>
  </div>
  <p>&copy; {{ currentYear }} Bureau. Todos os direitos reservados.</p>
</mat-toolbar>
