.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 136px);
  padding: 2rem 4rem 0rem;
  background: url("src/assets/wave3.svg") no-repeat bottom;
  background-color: #28a9bc;
}

mat-divider {
  border-top-width: 5px;
  background-color: #c6edf0;
  max-width: 200px;
}

mat-card {
  background-color: #c6edf0;
  max-width: 450px;
}

.full-width {
  width: 100%;
}

.form-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  width: 100px;
}

.image-contact {
  max-width: 550px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

img{
  width: 100%;
  object-fit: cover;
}

@media (min-width: 760px) and (max-width: 1023px) {
  .container{
    flex-direction: column;
    justify-content: end;
  }
  mat-card {
    max-width: 500px;
    margin-bottom: 30px;
  }
  .image-contact{
    height: 550px;
  }
}

@media (max-width: 759px) {
  mat-card {
    max-width: 100%;
  }
  .image-contact{
    display: none;
  }
  .container{
    padding: 1rem 2rem 0rem;
  }
}