<div class="container">
  <div>
    <mat-divider></mat-divider>
    <h2 style="margin-bottom: 40px">Conheça nossos parceiros</h2>
  </div>
  <div class="grid">
    <a class="grid-item" (click)="goToPartner('cdm')" target="_blank">
      <img src="../../assets/logos/logo-cdm.png" alt="logo-cdm" />
    </a>
    <a class="grid-item" (click)="goToPartner('carrancas')" target="_blank">
      <img
        src="../../assets/logos/brasao-pref-carrancas.png"
        alt="logo-brasao-pref-carrancas"
      />
    </a>
    <a
      class="grid-item"
      (click)="goToPartner('ribeirao-das-neves')"
      target="_blank"
    >
      <img
        src="../../assets/logos/brasao-pref-ribeirao.png"
        alt="logo-brasao-pref-ribeirao"
      />
    </a>
  </div>
</div>
