<div class="container">
  <div>
    <mat-divider></mat-divider>
    <h2>Conheça nossos parceiros</h2>
    <mat-grid-list cols="6"  rowHeight="2:1"  >
      <mat-grid-tile class="logo-cmd">1</mat-grid-tile>
      <mat-grid-tile class="logo-ribeirao" >2</mat-grid-tile>
      <mat-grid-tile class="logo-carrancas">3</mat-grid-tile>
 
      <mat-grid-tile class="logo-cmd">1</mat-grid-tile>
      <mat-grid-tile class="logo-ribeirao" >2</mat-grid-tile>
      <mat-grid-tile class="logo-carrancas">3</mat-grid-tile>

      <mat-grid-tile class="logo-cmd">1</mat-grid-tile>
      <mat-grid-tile class="logo-ribeirao" >2</mat-grid-tile>
      <mat-grid-tile class="logo-carrancas">3</mat-grid-tile>

      <mat-grid-tile class="logo-cmd">1</mat-grid-tile>
      <mat-grid-tile class="logo-ribeirao" >2</mat-grid-tile>
      <mat-grid-tile class="logo-carrancas">3</mat-grid-tile> 
    </mat-grid-list>
  </div>
</div>
