<div class="container">
  <div class="title">
    <mat-divider></mat-divider>
    <h2 style="margin-bottom: 40px">Conheça nossos parceiros</h2>
  </div>
  <div class="grid">
    <a class="grid-item" (click)="goToPartner('cdm')" target="_blank">
      <img src="../../assets/partners-page/logo-cdm.png" alt="logo cdm" />
    </a>
    <a class="grid-item" (click)="goToPartner('carrancas')" target="_blank">
      <img
        src="../../assets/partners-page/brasao-pref-carrancas.png"
        alt="brasão prefeituta carrancas"
      />
    </a>
    <a
      class="grid-item"
      (click)="goToPartner('ribeirao-das-neves')"
      target="_blank"
    >
      <img
        class="patern-3"
        src="../../assets/partners-page/brasao-pref-ribeirao.png"
        alt="brasão prefeituta ribeirao das neves"
      />
    </a>
  </div>
</div>
