.example-spacer {
  flex: 1 1 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-full {
  height: 100%;
}

.h-full-sTool {
  height: calc(100% - 64px);
}
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");

:root {
  --color-neutral-0: #007b91;
  --color-neutral-10: #f5f5f5;
}

* {
  font-family: "Aboreto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

footer {
  width: 100%;
  color: var(--color-neutral-10);
  position: relative;
  background-color: #c6edf0;
}

#footer_content {
  background-color: var(--color-neutral-0);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem 3.5rem;
  position: relative;
}

#footer_bureau {
  font-size: 2rem;
  position: absolute;
  left: 0;
  top: 0;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  position: absolute;
  left: 10;
  top: 70%;
  transform: translateY(20%);
}

#footer_social_media .footer-link {
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-10);
  border-radius: 50%;
}

#footer_copyright {
  display: flex;
  justify-content: flex-end;
  background-color: var(--color-neutral-0);
  font-size: 0.7rem;
  padding: 1rem;
  font-weight: 100;
  position: absolute;
  right: 10;
  bottom: -10;
}
