@use "@angular/material" as mat;

@include mat.core();

$bureau-primary: (
  50: #e7f8f9,
  100: #c6edf0,
  200: #a0e3e9,
  300: #7bd9e2,
  400: #66d0dc,
  500: #5dc8d7,
  600: #57b8c4,
  700: #4fa2ab,
  800: #488e93,
  900: #3a6a6a,
  A100: #ffffff,
  A200: #ffffff,
  A400: #c6edf0,
  A700: #006064,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$bureau-accent: (
  50: #e0f6f9,
  100: #b3eaf1,
  200: #83dce8,
  300: #55cdde,
  400: #39c3d6,
  500: #2bb8cf,
  600: #28a8bc,
  700: #2493a2,
  800: #217f8a,
  900: #1a5c60,
  A100: #ffffff,
  A200: #ffffff,
  A400: #28a8bc,
  A700: #007b91,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$bureau-warn: (
  50: #ffeaef,
  100: #ffcbd3,
  200: #f9969a,
  300: #f36c72,
  400: #ff444d,
  500: #ff2830,
  600: #f61931,
  700: #e4012c,
  800: #d70023,
  900: #c90014,
  A100: #ffffff,
  A200: #ffffff,
  A400: #e4012c,
  A700: #b9001a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$bureau-palette-primary: mat.define-palette($bureau-primary, 100);
$bureau-palette-accent: mat.define-palette($bureau-accent, 600);
$bureau-palette-warn: mat.define-palette($bureau-warn, 700);

$bureau-theme: mat.define-light-theme(
  (
    color: (
      primary: $bureau-palette-primary,
      accent: $bureau-palette-accent,
      warn: $bureau-palette-warn,
    ),
  )
);

@include mat.all-component-themes($bureau-theme);
