.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 2rem 4rem 0rem;
  background-color: #28a9bc;
}

mat-divider {
  border-top-width: 5px;
  background-color: #fff;
  max-width: 200px;
}

button {
  width: 200px;
}

.image-inscriptions {
  background: url("src/assets/imagem-inscricoes.png") no-repeat bottom;
  background-size: contain;
  width: 50%;
  height: 80%;
}
