<div class="container">
  <div>
    <mat-divider></mat-divider>
    <h2 style="color: white">Inscrições</h2>
    <p style="max-width: 650px; color: white">
      Aproveite as inscrições abertas para estudantes que desejam dar o próximo
      passo em sua jornada educacional e profissional e não perca mais tempo!
      Por que se juntar ao Una Bureau?
      <br />
      <br />
      <strong>Experiência Prática:</strong> Envolva-se em projetos que refletem
      os desafios atuais do mercado de trabalho.
      <br />
      <br />
      <strong>Desenvolvimento de Competências:</strong> Aperfeiçoe habilidades
      que são essenciais para sua carreira futura.
      <br />
      <br />
      <strong>Impacto Social:</strong> Contribua para a sociedade com seu
      trabalho e inovação.
      <br />
      <br />
      <strong>Rede de Contatos:</strong> Conecte-se com profissionais da
      indústria e construa sua rede profissional.
      <br />
      <br />
      No Una Bureau, acreditamos que a melhor maneira de aprender é fazendo. É
      por isso que oferecemos uma plataforma onde teoria e prática se encontram,
      permitindo que você se destaque em sua área de estudo e esteja um passo à
      frente na sua carreira.
      <br />
      <br />
      Junte-se a nós e dê vida à sua educação!
    </p>
    <button mat-raised-button color="primary">Inscreva-se já</button>
  </div>
  <div class="image-inscriptions"></div>
</div>
