<div class="container">
  <div>
    <mat-divider></mat-divider>
    <h2 style="color: white">Inscrições</h2>
    <p style="max-width: 650px; color: white">
      Você tem interesse em desenvolver soluções inovadoras e sustentáveis para
      os desafios urbanos e sociais do século XXI? <br />
      <br />
      Você quer aprender com profissionais e estudantes de diferentes áreas do
      conhecimento e ampliar sua rede de contatos? <br />
      <br />
      Se você respondeu <strong>sim</strong> a essas perguntas, então você não
      pode perder a oportunidade de participar do <strong>Bureau</strong>, uma
      iniciativa da <strong>Una</strong>, que integra as áreas de Arquitetura e
      Urbanismo, Design de Interiores, Engenharias e Tecnologia da Informação em
      projetos colaborativos colocando a mão na massa e fazendo a diferença na
      nossa comunidade! <br />
      <br />
      Inscreva-se gratuitamente até o dia 31 de agosto de 2023 e venha construir
      o futuro conosco! 🚀
    </p>
    <button mat-raised-button color="primary">Inscreva-se já</button>
  </div>
  <div class="image-inscriptions"></div>
</div>
