<app-container [primary]="true">
  <div style="max-width: 650px">
    <mat-divider></mat-divider>
    <h2>Inscrições</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas itaque
      possimus, quod modi accusantium maiores consequuntur inventore. Ipsum
      libero laboriosam explicabo maiores atque animi dicta, quidem, quod
      delectus eos suscipit. Saepe tempora et vel, beatae quasi sint natus porro
      numquam nostrum dicta qui harum ipsa? Voluptatem temporibus itaque ex
      cupiditate nulla quas asperiores soluta dicta inventore, dignissimos quis
      perferendis corrupti.
    </p>
    <button mat-raised-button color="primary">Inscreva-se já</button>
  </div>
  <div class="image-inscriptions"></div>
</app-container>
