.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 2rem 4rem 2rem;
  background-color: #28a9bc;
}

mat-divider {
  border-top-width: 5px;
  background-color: #fff;
  max-width: 200px;
}

button {
  width: 200px;
}

.image-inscriptions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  max-width: 500px;
  height: 100%;
}

img{
  object-fit: cover;
  width: 100%;
}

@media (max-width: 800px) {
  .container{
    padding: 1rem 2rem 1rem;
    flex-direction: column;
  }
  .image-inscriptions{
    width: 100%;
    justify-content: end;
    margin: 20px 0;
  }
  img{
    max-width: 250px;
  }
}